/* Main stylesheet */

body {
}

#main-header {
    width: 100%;
    height: 400px;
    padding-top: 100px;
    background-color: rgb(76, 177, 76);
    color: white;
    text-align: center;
}

footer {
    height: 200px;
    background-color: rgb(34, 48, 95);
    text-align: center;
}

footer a {
    color: white;
}


/* Navs */
#main-nav {
    padding: 5px 0;
    margin-bottom: 0;
    background-color: rgb(34, 48, 95);
}

#main-nav .navbar-brand {
    color: white;
}
