/* Main stylesheet */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

body a {
    color: #930ca7;
}

body a:hover {
    color: #c241a8;
}

footer {
    height: 200px;
    background-color: #34042a;
    color: #ccc;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: underline;
}

#short-header {
    background-image: radial-gradient(circle at bottom, rgb(121, 52, 115) 0%, rgb(52, 28, 104) 50%, rgb(17, 12, 36) 100%); 
    padding: 20px 0;
}

#short-header h1 {
    color: white;
}

#short-header p {
    color: white;
}

/* Base fonts etc. */

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

/* Navs */
/* Main nav is to top navigation */
#main-nav {
    padding: 5px 0;
    margin-bottom: 0;
    border: none;
    //background-image: radial-gradient(circle at bottom center, rgb(121, 52, 115) 0%, rgb(52, 28, 104) 50%, rgb(17, 12, 36) 100%); 
    background-color: white;
}

#main-nav .navbar-brand {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

#main-nav .navbar-header {
    padding: 5px 0;
}

#main-nav .nav {
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-nav .nav a {
    margin-left: 40px;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(74, 36, 99)
    //background-color: rgb(76, 247, 185);
    padding: 6px 25px;
    border-radius: 60px;
    margin-top: 10px;
}

#main-nav .nav a:hover {
    background-color: rgb(76, 247, 185);
    color: #333;
}

#graffathon-logo {
    height: 90px;
    display: none;
}

/* Index page */

#index-header {
    width: 100%;
    padding: 50px 0 50px;
    //background-image: url('../../static/img/index-header-bg.jpg');
    //background-color: gray;
    background-image: radial-gradient(circle at bottom, rgb(121, 52, 115) 0%, rgb(52, 28, 104) 50%, rgb(17, 12, 36) 100%); 

    background-position: center;
    color: white;
}

#tuleoppimaan h1 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px rgba(0, 0, 0, 128);
}
/*
#tuleoppimaan {
    text-shadow: 1px 1px #333;
}

#tuleoppimaan #varaapaikkasi {
    color: #af4099;
    text-shadow: 1px 1px 1px #bbb;
    text-decoration: none;
}

#tuleoppimaan #tutustutarkemmin {
    color: #c241a8;
    text-shadow: 0.9px 0.9px 1px #333;
    text-decoration: none;
}

.btn-default { /*varaa paikkasi*/
    background-color: #eee;
}

.btn-primary { /*ilmoittaudu*/
    background-color: #5e154f;
    border-color: #4d083f;
}

.btn-primary:hover { /*ilmoittaudu*/
    background-color: #6f1e5e;
}
*/

#timetable {
    display: none;
    background-color: white;
}

#timetable .what {
    font-weight: bold;
}

#timetable .description {
    display: block;
    font-size 12px;
    margin-top: 5px;
    max-width: 400px;
}

#general-header {
    text-align: center;
    background-image: url('../../static/img/nav-bg.jpg');
}

/* media queries */
@media (min-width: 768px) {
    .container {
        max-width: 940px;
    }
}
