/* Main stylesheet */

body {
}

footer {
    height: 200px;
    background-color: rgb(34, 48, 95);
    color: lightgray;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: underline;
}


/* Navs */
#main-nav {
    padding: 5px 0;
    margin-bottom: 0;
    background-color: rgb(34, 48, 95);
}

#main-nav .navbar-brand {
    color: white;
}

#index-navigation li {
    float:none;
    display:inline-block;
    text-align: center;
}

#index-navigation a {
    color: white;
    font-weight: bold;
}

#index-navigation {
    margin-bottom: 100px;
}

/* Index page */

#index-header {
    width: 100%;
    height: 400px;
    padding-top: 20px;
    background-color: rgb(76, 177, 76);
    color: white;
    text-align: center;
}

#timetable {
    display: none;
}
