{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="competitions-section">Järjestettävät kilpailut</h2>
<p class="lead">Kaikissa kilpailuissa huikeat palkinnot – arvo yhteensä yli 500 euroa!</p>
<p>Graffathonissa järjestetään useampia kilpailuja eli "kompoja". Reaaliaikaisen audiovisuaalisen ohjelman kompo eli demokompo on tapahtuman pääkilpailu. Tämän lisäksi järjestetään muutama pienempi kilpailu, joihin voi myös halutessaan osallistua (jos ehtii).</p>
<p>Kaikkien kilpailujen osalta voittajat ratkaistaan yleisöäänestyksellä. Jokaisella osallistujalla on käytettävissään sama määrä ääniä.</p>
<p><b>Kaikissa kilpailuissa jaetaan palkinnot vähintään kolmelle parhaalle tiimille.</b> Palkinnot sponsoroivat yhteistyökumppanimme <a href="http://www.futurice.com" target="_blank">Futurice</a> ja <a href="http://www.futuremark.com" target="_blank">Futuremark</a>.</p>
<h3>Demokompo</h3>
<p>Demokompo on tapahtuman varsinainen pääkilpailu. Tavoitteena on tuottaa mahdollisimman hyvä demo lyhyessä ajassa. Kilpailutyöt ajetaan tapahtuman loppuvaiheen showssa yleisölle reaaliajassa, jonka jälkeen järjestetään yleisöäänestys voittajasta.</p>
<p><b>Kompossa huikeat palkinnot. Arvo yhteensä useita satoja euroja!</b></p>
<h3>Mallinnuskompo</h3>
<p>Mallinna jotain! Aihe annetaan paikan päällä.</p>
<p>Voit myös käyttää tähän kilpailutyöhön tekemääsi mallia demossasi.</p> 
<p><b>Myös tässä kompossa hyvät palkinnot, jotka julkistetaan tarkemmin tapahtumassa!</b></p>
<h3>Piirustuskompo</h3>
<p>Piirrä jotain! Aihe annetaan paikan päällä.</p>
<p>Voit myös käyttää tähän kilpailuun tekemääsi piirustusta demossasi.</p>
<p><b>Myös tässä kompossa hyvät palkinnot, jotka julkistetaan tarkemmin tapahtumassa!</b></p>
{% endblock %}
