{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="competitions-section">Järjestettävät kilpailut</h2>
<p>Graffathonissa järjestetään useampia kilpailuja eli "kompoja". Reaaliaikaisen audiovisuaalisen ohjelman kompo eli demokompo on kilpailun päätapahtuma. Tämän lisäksi järjestetään muutama pienempi kilpailu, joihin voi myös halutessaan osallistua (jos ehtii).</p>
<p>Kaikkien kilpailujen osalta voittajat ratkaistaan yleisöäänestyksellä. Jokaiselle osallistujalla on käytettävissään sama määrä ääniä.</p>
<p><b>Kaikissa kilpailuissa jaetaan palkinnot vähintään kolmelle parhaalle tiimille.</b> Huomaa, että suuri osa osallistumismaksuista kierrätetään takaisin osallistujille palkintojen muodossa!</p>
<h3>Demokompo</h3>
<p>Demokompo on tapahtuman varsinainen pääkilpailu. Tavoitteena on tuottaa mahdollisimman hyvä demo. Kilpailutyöt ajetaan tapahtuman loppuvaiheen showssa yleisölle reaaliajassa, jonka jälkeen järjestetään yleisöäänestys voittajasta.</p>
<p><b>Palkinnot julkistetaan myöhemmin.</b></p>
<h3>Mallinnuskompo</h3>
<p>Mallinna jotain! Aihe annetaan paikan päällä.</p>
<p>Voit myös käyttää tähän kilpailutyöhön tekemääsi mallia demossasi.</p> 
<p><b>Palkinnot julkistetaan myöhemmin.</b></p>
<h3>Piirustuskompo</h3>
<p>Piirrä jotain! Aihe annetaan paikan päällä.</p>
<p>Voit myös käyttää tähän kilpailuun tekemääsi piirustusta demossasi.</p>
<p><b>Palkinnot julkistetaan myöhemmin.</b></p>
{% endblock %}
