{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="faq-section">FAQ</h2>
<div class="row">
  <div class="col-md-6">
    <h4>Mitä tapahtumassa tehdään?</h4>
    <p>Koodataan, sosialisoidaan, kuunnellaan esityksiä sekä nautitaan loppuvaiheessa kilpailutöiden huikeasta showsta. Tarjolla on myös "väliaikaviihdykettä" muun muassa pelikonsoleiden muodossa, mikäli mentaalinen blokki iskee.</p>
    <h4>Mitä minun täytyy osata voidakseni osallistua?</h4>
    <p>Sinun täytyy osata ohjelmoida jonkin verran sekä ymmärtää perustason matematiikkaa. Tärkeintä on ymmärtää jotain geometriasta, trigonometriasta ja mikäli aiot tehdä 3D-grafiikkaa, niin matriiseista sekä vektoreista. Muuta sinun ei tarvitse käytännössä tietää – oppia saat paikan päältä!</p>
    <h4>Mitä ohjelmointikieliä/työkaluja käytetään?</h4>
    <p>Tähän löydät vastauksen <a href="{{ url_for('info') }}">tämän linkin takaa</a>.</p>
  </div>
  <div class="col-md-6">
    <h4>Miksi tapahtuma on maksullinen?</h4>
    <p>Hyvä kysymys! Viime vuonna järjestty CAG oli ilmainen, mutta halusimme tänä vuonna vielä parantaa tapahtuman tasoa. Osallistumismaksuun sisältyy hyviä etuja, kuten ilmaiset kahvit. Osa osallistumismaksuista maksetaan myös takaisin kävijöille hyvien palkintojen muodossa. Loput jäävistä rahoista käytetään DOTin kirjaston uusimiseen, eli tuet samalla uuden oppimista!</p>
    <h4>Onko tapahtumassa mahdollisuus nukkua?</h4>
    <p>Tapatumatilassa ei saa nukkua, mutta pienet torkut pöydän päällä sallitaan. Toisaalta, jos haluaa tehdä hyvän tuotoksen, ei kannata paljon nukkua :-)</p>
    <h4>Mitä tarvitsen mukaani?</h4>
    <p>Tietokoneen ja eväitä. Huomioi, että Futurice tarjoaa pitsaa ja virvokkeita sunnuntai-iltana dediksen jälkeen! Paikan päältä löytyy kaksi erittäin hyvinvarusteltua keittiötä, jotka ovat molemmat vapaassa käytössä. Myös suihkussa käymiseen on mahdollisuus tiettyinä aikoina. Tarjolla myös ilmaiset kahvit.</p>
  </div>
</div>
{% endblock %}
