{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="general-section">Yleistä tietoa</h2>
<p>
Graffathon on hackathon, jossa on tarkoitus tutustua grafiikkaohjelmointiin sekä tietokonegrafiikan tuotantoon itse asioita kokeillen. Samalla osallistujat on tarkoitus tutustuttaa yleisesti <a href="http://fi.wikipedia.org/wiki/Demoskene">demoskeneen</a>. Ohjelma koostuu aloittelijoille räätälöidyistä presiksistä sekä workshopeista, joita vetävät demoskenessä pidempään toimineet henkilöt sekä muut vapaaehtoiset (myös <b>sinä</b> voit halutessasi tulla pitämään workshopin).
</p>
<p>Tapahtumassa osallistujille annetaan kaikki tarvittavat työkalut ja materiaali alkuun pääsemiseksi. Paikan päällä on myös saatavilla jatkuvasti apua ongelmatilanteisiin.</p>


<hr>


<h2 id="general-section">Kuka voi osallistua?</h2>
<p>
Otamme 25.5. asti ilmoittautumisia vastaan vain Aalto-yliopiston opiskelijoilta. Tämän jälkeen myös kaikki muut halukkaat voivat osallistua.
</p>
<p>
Tapahtumaan mahtuu 60 henkilöä.
</p>
{% endblock %}
