{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="general-section">Yleistä tietoa</h2>
<p>
Graffathon on hackathon, jossa on <b>tarkoitus tutustua grafiikkaohjelmointiin sekä tietokonegrafiikan tuotantoon itse asioita kokeillen joko yksin tai pienissä tiimeissä (2-3 henkilöä)</b>. Samalla osallistujat on tarkoitus tutustuttaa yleisesti <a href="http://fi.wikipedia.org/wiki/Demoskene">demoskeneen</a>. Ohjelma koostuu aloittelijoille räätälöidyistä presiksistä sekä workshopeista, joita vetävät demoskenessä pidempään toimineet henkilöt sekä muut vapaaehtoiset (myös <b>sinä</b> voit halutessasi tulla pitämään workshopin!).
</p>
<p>Tapahtumassa osallistujille annetaan kaikki tarvittavat työkalut ja materiaali alkuun pääsemiseksi. Paikan päällä on myös saatavilla jatkuvasti apua ongelmatilanteisiin.</p>


<hr>


<h2>Viestintä</h2>
<p>Yhteyden järjestäjiin saa parhaiten lähettämällä sähköpostia allaolevaan osoitteeseen. Tapahtumaa varten on myös perustettu kanava IRCNet-verkkoon, jonne kannattaa ehdottomasti liittyä heti. Irkistä voi tulla kyselemään epäselviä asioita, antamaan ruusuja ja risuja sekä sen kautta saa myös tapahtuman aikana apua.</p>
<p>Yhteystyökyselyissä ota yhteys tapahtuman pääjärjestäjään – katso tiedot <a href="{{ url_for('team') }}">tiimisivulta</a>.</p>
<dl class="dl-horizontal">
  <dt>Sähköposti</dt>
  <dd>dot-hallitus[at]list.ayy.fi<dd>
  <dt>IRC-kanava</dt>
  <dd>#graffathon @ IRCnet</dd>
</dl>


<hr>


<h2 id="general-section">Osallistuminen</h2>
<p>Voit osallistua tapahtumaan, mikäli sinulla ei ole juurikaan aiempaa kokemusta tietokonegrafiikan saralta (lukuunottamatta esimerkiksi kursseja koulussa). Emme kuitenkaan halua rajoittaa liikaa osallistumiskriteerejä, joten mikäli koet olevasi aloittelija, voit osallistua, vaikka olisitkin joskus esimerkiksi julkaissut demon. Mikäli olet koodannut enemmänkin grafiikkaa, ota yhteys tapahtuman järjestäjiin ja tule puhumaan tai vetämään workshop!</p>
<p>
Ilmoittautuminen tapahtuu <a href="{{ url_for('signup') }}">erillisellä sivulla</a>. Täytä tietosi ja maksa osallistumismaksu, niin pääset mukaan! Saat ilmoittautumisen jälkeen sähköpostin, joka sisältää maksuohjeet. Maksettuasi maksun olet mukana tapahtumassa. 
</p>
<p>
Tämän jälkeen sinun täytyy vain enää saapua paikalle. Tärkeintä on ottaa mukaan tietokone (pöytäkone tai läppäri), jolla tuotat varsinaisen kilpailutyön. <b>Tietokoneen ei tarvitse olla tehokas!</b> Keskitymme tapahtumassa perusasioihin, eikä tarkoitus ole tuottaa seuraavaa 3D-spektaakkelia. Jos sinulla itselläsi ei ole mukaan otettavaa tietokonetta, voit tulla tapahtumaan kaverisi kanssa ja työskennellä samalla koneella. Pariohjelmointi on hauskaa :-)
</p>
<p>
Otamme 25.5. asti ilmoittautumisia vastaan vain Aalto-yliopiston opiskelijoilta. Tämän jälkeen myös kaikki muut halukkaat voivat osallistua.
</p>
<p>
Tapahtumaan mahtuu 60 henkilöä.
</p>


<hr>


<h2 id="general-section">Käytettävä ohjelmointikieli ja työkalut</h2>
<p>
Tapahtumassa käytetään Processing-nimistä ympäristöä grafiikan tekemiseen. Tapahtuman järjestäjät tarjoavat hyvät pohjakoodit aloittamisen tueksi (huomattavasti paremmat kuin viime vuonna) sekä luonnollisesti muutakin opastusta tekemiseen. Voit toki halutessasi käyttää myös muita ympäristöjä, mutta viime vuonna Processing todettiin erittäin toimivaksi.
</p>

{% endblock %}
