{% extends 'info/base.html' %}
{% block extra_head %}

{% endblock %}
{% block info_content %}
<div class="row">
  <div class="col-md-12">
    <h2 id="location-section">Sijainti</h2>
  </div>
  <div class="col-md-8">
    <p>Tapahtuma järjestetään App Campuksen tiloissa Aalto Innovation Housessa, osoitteessa Otaniementie 19-21. Oikealta löytyvästä kartasta saa 
    tarkemman käsityksen talon sijainnista. Käynti App Campuksen tiloihin
    tapahtuu talon vasemmasta päädystä tieltä päin katsottuna. Oveen teipatusta lapusta löydät tarkemmat ohjeet.</p>
    <p>App Campukselta löytyy muun muassa kaksi hyvinvarusteltua keittiötä (toisessa myös uuni), kaasugrilli parvekkeelta, ilmaista kahvia, suihkut, huoneita brainstormaamiseen, paljon työskentelytilaa
    ja pimennettävä presentaatiohuone.
    Alhaalta löytyvistä kuvista saa jonkinlaisen käsityksen tiloista.</p>
    <p>Mikäli olet tulossa paikalle autolla, löytyy talon pihasta vapaita parkkipaikkoja. 
    Bussilla pääsee n. 500-800 metrin päähän, olitpa sitten tulossa Espoosta, Helsingistä tai Vantaalta.</p>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus7.jpg') }}" data-heading="Talo ulkoa, AppCampus @ 3. kerros">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus1.jpg') }}" data-heading="Yksi suunnitteluhuoneista">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus2.jpg') }}" data-heading="Angry Birds -luola :-)">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus3.jpg') }}" data-heading="Aulatila keittiön vieressä">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus4.jpg') }}" data-heading="Iso huone tietokonepaikoilla">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus5.jpg') }}" data-heading="Presishuone">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus6.jpg') }}" data-heading="Toinen kahdesta keittiöstä">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/appcampus8.jpg') }}" data-heading="Mökki, hyvä paikka koodata.">
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=fi&geocode=&q=Otaniementie+21,+Espoo,+Suomi&aq=&sll=60.184753,24.82612&sspn=0.017262,0.045791&t=m&ie=UTF8&hq=&hnear=Otaniementie+21,+Espoo,+Suomi&z=14&ll=60.187285,24.813946&output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&source=embed&hl=fi&geocode=&q=Otaniementie+21,+Espoo,+Suomi&aq=&sll=60.184753,24.82612&sspn=0.017262,0.045791&t=m&ie=UTF8&hq=&hnear=Otaniementie+21,+Espoo,+Suomi&z=14&ll=60.187285,24.813946" style="color:#0000FF;text-align:left">Näytä suurempi kartta</a></small>
  </div>
</div>
{% endblock %}
