{% extends 'info/base.html' %}
{% block info_content %}
<h2 id="competitions-section">Puhujat ja ohjelma</h2>
<p><b>Kuten huomaat, tämä sivu on vielä työn alla. Lisäämme tietoja ohjelmasta lähiaikoina. Voit kuitenkin olla varma, että ohjelma on taatusti mielenkiintoista!</b></p>

<p>Tällä sivulla voit tutustua tarkemmin sekä puhujiin että pidettäviin esityksiin ja workshoppeihin. Myös <b>sinä</b> voit tulla pitämään workshopin tai presentaation! Sinun ei tarvitse olla guru pitääksesi esityksen – riittää, että pystyt opettamaan osaamasi asian toiselle henkilölle. Mikäli kiinnostuit, ota yhteys <a href="{{ url_for('team') }}">pääjärjestäjään</a> – näin voimme sopia tarkemmista detaileista ja saada esityksesi sovitettua yhteen muun tapahtumakonseptin kanssa.</p>

<p><b>Ohjelmaa on tulossa ainakin seuraavista aiheista:</b></p>
<ul>
  <li>Johdatus demoskeneen ja demokulttuuriin</li>
  <li>Grafiikkakoodauksen perusteet</li>
  <li>Visuaalien synkkaaminen musiikin kanssa</li>
  <li>Yksinkertaisia 2D-efektejä shadereilla</li>
  <li>Blenderin lyhyt oppimäärä</li>
  <li>3D-grafiikan tuottaminen Processingilla</li>
  <li>... ja niin edelleen!</li>
</ul>
{% macro speaker(name, subject, description, image_url) -%}
<div class="row">
  {% if image_url %}
  <div class="col-md-2">
    <img src="{{ image_url }}" />
  </div>
  {% endif %}
  <div class="col-md-{% if image %}10{% else %}12{% endif %}">
    <h4>{{ name }} – <i>{{ subject }}</i></h4>
    {{ description }}
  </div>
</div>
{%- endmacro %}
{{ speaker('Antti Hirvonen', '?', 'Speksit tulossa!', '') }} 
{{ speaker('Pauli Kemppinen', '?', 'Speksit tulossa!', '') }} 
{{ speaker('Pekka Väänänen', '?', 'Speksit tulossa!', '') }} 
{{ speaker('Martti Nurmikari', '?', 'Speksit tulossa!', '') }} 
{{ speaker('Otso Jylhä', '?', 'Speksit tulossa!', '') }} 
{% endblock %}
