{% extends 'info/base.html' %}
{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tabletop.js') }}"></script>
{% raw %}
<script id="timetable-row-template" type="text/x-handlebars-template">
  <tr class="{{ css-class }}">
    <td>{{ when }}</td>
    <td>{{ who }}</td>
    <td><span class="what">{{{ what }}}</span> <span class="description">{{ description }}</span></td>
  </tr>
</script>
<script id="timetable-header-template" type="text/x-handlebars-template">
  <tr class="{{ css-class }}">
    <th colspan=3>{{ when }}</th>
  </tr>
</script>
{% endraw %}
<script type="text/javascript">
  Handlebars.registerHelper('breaklines', function(text) {
    text = Handlebars.Utils.escapeExpression(text);
    text = text.replace(/(\r\n|\n|\r)/gm, '<br>');
    return new Handlebars.SafeString(text);
  });

  window.onload = function() { init() };

  var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/16Idx3ZiHEpjGW58gsZWlDEzMhfDQbw22ncr_iKdIiFU/pubhtml';

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: ['Aikataulu'],
                     simpleSheet: true } )
  }

  function showInfo(data, tabletop) {
    var headerTemplate = Handlebars.compile($("#timetable-header-template").html());
    var rowTemplate = Handlebars.compile($("#timetable-row-template").html());

    $(function () {
      var $timetable = $('#timetable > tbody');
      for (row in data) {
        if (data[row].header) {
          $timetable.append(headerTemplate(data[row]));
        } else {
          $timetable.append(rowTemplate(data[row]));
        }
      }

      $("#timetable-loading-message").slideUp();
      $("#timetable").slideDown(function () {
        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh')
        });
      });
    });
  }
</script>
{% endblock %}
{% block info_content %}
<h2 id="timetable-section">Aikataulu</h2>
<p>Huom! Aikataulu on vielä tällä hetkellä alustava ja varmaa on ainoastaa alku- ja loppuaika :-)</p>
<p>Puhujiin ja aiheisiin voit tutustua tarkemmin <a href="{{ url_for('info_speakers') }}">erillisellä sivulla</a>.</p>
<div class="table-responsive table-striped" id="timetable-wrapper">
  <div class="alert alert-block alert-info" id="timetable-loading-message">Aikataulua ladataan, odota hetki...</div>
  <table id="timetable" class="table table-hover">
    <tbody>
      <!-- contents are pulled from Google spreadsheet using JS -->
    </tbody>
  </table>
</div>
{% endblock %}
