{% extends 'base.html' %}
{% block body %}

{% block nav %}
{% macro menu_item(func, text) -%}
<li>
<a 
  class="{% if request.path == url_for(func) %}active{% endif %}" 
  href="{{ url_for(func) }}">{{ text }}</a>
</li>
{%- endmacro %}
<nav id="main-nav" class="navbar navbar-default navbar-{% block nav_type %}static{% endblock %}-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Graffathon</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{ menu_item('index', 'Etusivu') }}
        {{ menu_item('info', 'Info') }}
        {{ menu_item('signup', 'Ilmoittaudu!') }}
        {{ menu_item('in_english', 'In English') }}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block short_header %}
<div id="short-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block short_header_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<div id="content">
{% block content %}{% endblock %}
</div>
{% block footer %}
<footer id="main-footer">
  <div class="container">
    <h4>
      <img src="static/img/dot_logo_graffathon_small.png" href="http://dot.ayy.fi" alt="DOT logo">
    </h4>
    <p>
    <small>Found a typo? Send a pull request on <a target="_blank" href="http://github.com/anttihirvonen/graffathon">Github</a>.</small>
    </p>
  </div>
</footer>
{% endblock %}
{% endblock %}
