{% extends 'base.html' %}
{% block body %}

{% block nav %}
<div id="general-header">
  <ul id="general-nav" class="nav nav-pills">  
    <a href="{{ url_for('index') }}"><img src="static/img/nav-logo.png"></a>
    <li><a href="{{ url_for('info') }}">Info</a></li>
    <li><a href="{{ url_for('signup') }}">Ilmoittaudu!</a></li>
    <li><a href="{{ url_for('in_english') }}">In English</a></li>
  </ul>
</div>
{% endblock %}

<div id="content">
{% block content %}{% endblock %}
</div>

{% block footer %}
<footer id="main-footer">
  <div class="container">
    <h4>
      <img src="static/img/dot_logo_graffathon_small.png" href="http://dot.ayy.fi" alt="DOT logo">
    </h4>
    <p>
    <small>Found a typo? Send a pull request on <a target="_blank" href="http://github.com/anttihirvonen/graffathon">Github</a>.</small>
    </p>
  </div>
</footer>
{% endblock %}
{% endblock %}
