{% extends 'base_with_nav_and_footer.html' %}

{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tabletop.js') }}"></script>
{% raw %}
<script id="timetable-row-template" type="text/x-handlebars-template">
  <tr class="{{ css-class }}">
    <td>{{ when }}</td>
    <td>{{ who }}</td>
    <td><span class="what">{{{ what }}}</span> <span class="description">{{ description }}</span></td>
  </tr>
</script>
<script id="timetable-header-template" type="text/x-handlebars-template">
  <tr class="{{ css-class }}">
    <th colspan=3>{{ when }}</th>
  </tr>
</script>
{% endraw %}
<script type="text/javascript">
  Handlebars.registerHelper('breaklines', function(text) {
    text = Handlebars.Utils.escapeExpression(text);
    text = text.replace(/(\r\n|\n|\r)/gm, '<br>');
    return new Handlebars.SafeString(text);
  });

  window.onload = function() { init() };

  var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/16Idx3ZiHEpjGW58gsZWlDEzMhfDQbw22ncr_iKdIiFU/pubhtml';

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: ['Aikataulu'],
                     simpleSheet: true } )
  }

  function showInfo(data, tabletop) {
    var headerTemplate = Handlebars.compile($("#timetable-header-template").html());
    var rowTemplate = Handlebars.compile($("#timetable-row-template").html());

    $(function () {
      var $timetable = $('#timetable > tbody');
      for (row in data) {
        if (data[row].header) {
          $timetable.append(headerTemplate(data[row]));
        } else {
          $timetable.append(rowTemplate(data[row]));
        }
      }

      $("#timetable-loading-message").slideUp();
      $("#timetable").slideDown();
    });
  }

</script>
{% endblock %}
{% block short_header_content %}
<h1>Graffathon is a beginner's computer graphics / demoscene hackathon.</h1>
<p class="lead">14. - 15.6.2014 @ Otaniemi, Espoo, Finland
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-block alert-warning" style="margin-top: 20px;">
        The event is already over. Please check out the <a href="{{ url_for('archive') }}">archive page</a> for results, photos and more!
      </div>
      <h1>The event in a nutshell</h1>
      <p>Graffathon is a hackathon focused on learning graphics programming by trying it out hands on. The main goal of the event is to create a <a href="http://en.wikipedia.org/wiki/Demo_(computer_programming)" target="_blank">demo</a>, a real-time audiovisual program. The event is targeted at real beginners who have no previous graphics coding and/or demoscene experience. Spots are open for 60 visitors. The event is organized by the active members of <a href="http://dot.ayy.fi/in-english.html" target="_blank">DOT</a> board.</p>
      
      <p>The program consists of helpful presentations and workshops which guide you on how to create your first demo. In addition, we have a workshop on modeling with Blender and also teach you the basics of demoscene and democulture. However, since most (at least 95%) of our visitors are Finns, pretty much all of the presentations and workshops are held in Finnish. However, all provided example code and tools will be documented / commented in English, so you should do just fine, even if you don't understand any of the presentations! There will also be helpful people around that can guide you. </p>

      <p><b>To participate you only need basic programming skills (from any language) and math (basic courses from school for example) - you do not have to be able to code graphics, make music or draw. Just bring a computer and something to eat. You will learn.</b> We also offer some snacks for the price of entry and our sponsors also provide something for you to eat. The computer does not have to be the latest and greatest (you do not need a crazy graphics card to try out graphics programming). Almost any computer will do.
      </p>
      <p>Event similar to Graffathon, called Code+Audio+Graphics, was organized last year. To get some idea what you can do in a weekend with no experience, watch the demos from last year:</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLmRDkQf8W1WF7SONaMtqW6grVj9N44HkI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Competitions</h1>
      <p>Multiple competitions, or compos for short, are held in Graffathon. The main event is the compo for the best realtime audiovisual program. A couple of smaller compos are organized as well and you are free to participate in any of them.</p>
      <p><b>This year we have great prizes (worth almost 700 euros!), sponsored by <a href="http://www.futurice.com" target="_blank">Futurice</a> and <a href="http://www.futuremark.com" target="_blank">Futuremark</a>.</b></p>
      <h2>Democompo</h2>
      <p>The democompo is the main competition of the event. Create the best possible demo in a weekend!</p>
      <h2>3d-modeling compo</h2>
      <p>Model something! Subject will be announced on location.</p>
      <h2>Drawing compo</h2>
      <p>Draw something! Subject will be announced on location.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Schedule</h1>
      <p class="lead">30 hours of effective learning!</p>
      <div class="table-responsive table-striped" id="timetable-wrapper">
        <div class="alert alert-block alert-info" id="timetable-loading-message">Loading schedule, wait a moment...</div>
        <table id="timetable" class="table table-hover">
          <tbody>
            <!-- contents are pulled from Google spreadsheet using JS -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Location</h2>
      <p>The event takes place at the AppSpace facilities in Aalto Innovation House, located at Otaniementie 19-21. The map on the right illustrates the location. The entrance to AppSpace can be found at the left end of the house (seen from the street). Further instructions will be found at the door.</p>
      <p>AppSpace has two well-equipped kitchens (oven included), a gas grill at the balcony, free coffee, showers, rooms for brainstorming, workspace and a presentation room. See the pictures below.</p>
      <p>There are free parking spots in case you are arriving by car. You can get there easily by public transport as well, buses from Espoo, Helsinki and Vantaa bring you to 500 meters from the site.</p>

      <div class="row">
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus7.jpg') }}" data-heading="Talo ulkoa, AppCampus @ 3. kerros">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus1.jpg') }}" data-heading="Yksi suunnitteluhuoneista">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus2.jpg') }}" data-heading="Angry Birds -luola :-)">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus3.jpg') }}" data-heading="Aulatila keittiön vieressä">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus4.jpg') }}" data-heading="Iso huone tietokonepaikoilla">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus5.jpg') }}" data-heading="Presishuone">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus6.jpg') }}" data-heading="Toinen kahdesta keittiöstä">
        </div>
        <div class="col-xs-4 col-md-4 img-wrapper">
          <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/appcampus8.jpg') }}" data-heading="Mökki, hyvä paikka koodata.">
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=fi&geocode=&q=Otaniementie+21,+Espoo,+Suomi&aq=&sll=60.184753,24.82612&sspn=0.017262,0.045791&t=m&ie=UTF8&hq=&hnear=Otaniementie+21,+Espoo,+Suomi&z=14&ll=60.187285,24.813946&output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&source=embed&hl=fi&geocode=&q=Otaniementie+21,+Espoo,+Suomi&aq=&sll=60.184753,24.82612&sspn=0.017262,0.045791&t=m&ie=UTF8&hq=&hnear=Otaniementie+21,+Espoo,+Suomi&z=14&ll=60.187285,24.813946" style="color:#0000FF;text-align:left">Show larger map</a></small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>FAQ</h1>
    </div>
    <div class="col-md-6">
      <h4>What do people do at the event?</h4>
      <p>Code, socialize, listen to presentations and at the end enjoy the amazing show of produced entries. In addition, there will be little fun stuff to do during the whole event in case you hit a creative block.</p>
      <h4>What do I need to know to participate?</h4>
      <p>You should have a very basic understanding of programming and know some simple mathematics (mostly trigonometry, linear algebra (=vectors) and matrices for 3d-graphics). That's all! Don't worry, there will be helpful people around, even if you don't understand the presentations which are in Finnish!</p>
      <h4>Which programming langueges/tools are used</h4>
      <p>For beginners we recommend <a href="http://processing.org/" target="_blank">Processing</a> (effectively Java). You are however free to use any tool you like, but we don't necessarily promise that it will be runnable on competition machine – therefore, bring your own gear. Also, for modelling, Blender is required.</p>
    </div>
    <div class="col-md-6">
      <h4>Why do you charge money for the event?</h4>
      <p>Good question! Code+Audio+Graphics, which we organized last year, was free but this year we wanted to make the event even better. The leftover money will be used to renew the DOT library so you will be supporting learning as well!</p>
      <h4>Can I sleep at the event?</h4>
      <p>Not because of fire safety rules, but little naps on the table are allowed :)</p>
      <h4>What do I need with me?</h4>
      <p>A computer and something to eat. Don't take food that doesn't survive in a warm room for 30 hours, since fridge space is very limited!
    </div>
  </div>
</div>
{% endblock %}
