{% extends 'base_with_nav_and_footer.html' %}
{% block content %}

<div class="container">
  <div class="col-md-12">
    <h1>Graffathon in a nutshell</h1>
    <p>TBD: short description, focus, timetable?, about organizers, etc.</p>
    <p>Graffathon is a hackathon focused on learning graphics programming by trying it out hands on. It is the sequel to the popular event <a href="http://dot.ayy.fi/cag2013.html">Code+Audio+Graphics</a>, which was held last year. This year we strive to make the event even more beginner-friendly by offering more presentations and workshops that focus on the practical skills needed to create computer graphics.</p>
    <p><b>To participate you only need basic programming skills (from any language) and math (basic courses from school for example) - you do not have to be able to code graphics, make music, draw or program. Just bring a computer and something to eat. You will learn.</b> We also offer some snacks for the price of entry. The computer does not have to be the latest and greatest, you do not need a crazy graphics card to try out graphics programming. Almost any computer will do.
    </p>
  </div>
</div>
{% endblock %}
