{% extends 'base_with_nav_and_footer.html' %}
{% block extra_head %}
<style type="text/css">
  @media screen and (min-width: 768px) {
    #main-nav {
      position: absolute;
      background-color: transparent;
      background-image: none;
    }

    #main-nav .navbar-brand {
      color: white;
    }

    #main-nav .nav a {
      color: white;
    }

    #main-nav .nav a:hover {
      border-bottom: 1px dotted white;
    }

    #main-nav .nav a.active {
      border-bottom: 1px dotted white;
    }
  }

  @media screen and (min-width: 768px) {

  }

</style>
{% endblock %}
{% block nav_type %}fixed{% endblock %}
{% block short_header %}<!-- main has bigger separate header -->{% endblock %}
{% block content %}

<div class="header" id="index-header">
  <div class="container" id="tuleoppimaan">
    <div class="row">
      <div class="col-sm-7">
        <h1>Tule oppimaan tietokonegrafiikkaa!</h1>
        <h2>14. – 15.6.2014, AppSpace, Otaniemi</h2>
        <p style="font-size: 20px">Graffathon on n. 30 tunnin mittainen aloittelijoille suunnattu tietokonegrafiikkahackathon, jonka aikana on tarkoitus tuottaa audiovisuaalinen reaaliaikainen ohjelma eli <a href="http://fi.wikipedia.org/wiki/Demo_(tietokone)" target="_blank" style="color: inherit; text-decoration: underline">demo</a>. <!--<a id="tutustutarkemmin" href="{{ url_for('info') }}">Tutustu tarkemmin!</a>--></p>
        <p>
        <a id="info" href="{{ url_for('info') }}" class="btn btn-default btn-lg">Lue lisää</a>
        </p>
        </p>
      </div>
      <div style="text-align: right" class="col-sm-5 hidden-xs" id="polaroids">
        <div class="polaroid" id="polaroid-1">
          <div class="inner">

          </div>
        </div>
        <div class="polaroid" id="polaroid-2">
          <div class="inner">

          </div>
        </div>
        <div class="polaroid" id="polaroid-3">
          <div class="inner">

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div> <!--index-header-->

<!-- main content -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Graffathon: jatkoa vuoden 2013 CAG-tapahtumalle</h2>
      <p>
      Järjestimme vuoden 2013 kesäkuussa aloittelijoille suunnatun tietokonegrafiikka-aiheisen tapahtuman, joka kantoi nimeä <a href="http://dot.ayy.fi/cag2013.html" target="_blank">Code+Audio+Graphics</a>. Tapahtumaan osallistui n. 60 henkilöä ja siitä todella tykättiin – lue alta osallistujien kommentteja!
      </p>
      <p>Edellämainituista syistä halusimme järjestää tapahtuman uudestaan myös vuonna 2014. Tänä vuonna olemme kuitenkin pyrkineet tekemään tapahtumasta vielä aloittelijaystävällisemmän. Lue lisää <a href="{{ url_for('info') }}">infosivulta</a>.</p>
      <p><b>Edellisvuoden tapahtumaan osallistuneiden kommentteja:</b></p>
      <blockquote>Heräsin maanantaina ja rupesin koodailemaan lisää..</blockquote>
      <blockquote>Tapahtumasta jäi hyvä mieli, vaikka en päässytkään paikalle koko ajaksi ja siksi pystynyt osallistumaan kompoihin. Tapahtuma oli oikeasti aloittelijaystävällinen.</blockquote>
      <blockquote>Huikea tapahtuma, tällaista lisää!</blockquote>
      <blockquote>Mahtavaa oli, tosi hyvä mieli jälkeenpäin.</blockquote>
      <h2>Katso viime vuoden kilpailutöitä</h2>
      <p>Alla Youtube-soittolista, joka sisältää osan viime vuoden kilpailutöistä. Ensimmäisenä voittajademo Fern!, tekijä petrinm.</p>
      <iframe style="margin-top: 22px; margin-bottom: 22px" width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLmRDkQf8W1WF7SONaMtqW6grVj9N44HkI" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="text-align: center" class="col-md-4">
      <h2>Pikalinkit</h2>
      <a href="{{ url_for('info_timetable') }}">Aikataulu</a><br>
      <a href="{{ url_for('info_speakers') }}">Ohjelma</a><br>
      <a href="{{ url_for('info_location') }}">Sijainti</a>
      <h2>Yhteistyössä</h2>
      <p><a href="http://branch.untergrund.net/demokerho_site/" target="_blank">Demokerho</a></p>
      <a href="http://www.futurice.com/"><img src="{{ url_for('static', filename='img/futurice.png') }}" alt="..." height="150" width="150"></a>
    </div>
  </div>
</div>
{% endblock %}
