{% extends 'base_with_nav_and_footer.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" method="post">
        {% macro form_input(input) -%}
          <div class="form-group">
            {{ input.label(class='col-sm-2 control-label') }}
            <div class="col-sm-10">
              {{ input(class='form-control') }}
            </div>
          </div>
        {%- endmacro %}

        {{ form_input(form.username) }}
        {{ form_input(form.password) }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          </div>
        </div>
      </form>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
