{% extends 'base_with_nav_and_footer.html' %}
{% block content %}
<a href="/logout">Logout</a>
<div class="container">

  {% if confirmation.count() > 0%}
  <table class="table table-striped table-hover">
    <thead>
      <h2>Vahvistettavat</h2>
      <tr>
        <th>#</th>
        <th>Nimi</th>
        <th>Sähköposti</th>
        <th>Koulu ja koulutusohjelma</th>
        <th>Kokemus demoscenestä</th>
        <th>Luotu</th>
        <th>Vahvista</th>
        <th>Poista</th>
      </tr>
    </thead>
    <tbody>
      <form method="post">
      {% for c in confirmation %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>{{c.school}}</td> 
          <td>{{c.experience}}</td>
          <td>{{c.created}}</td>
          <td>
            <input type="checkbox" name="selected_confirmation" value="{{c.id}}">
          </td>
          <td>
            <input type="checkbox" name="confirmation_remove" value="{{c.id}}">
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><input type="submit" name="button" value="Vahvista"></td>
          <td><input type="submit" name="button" value="Poista ilmoittautuminen"></td>
        </tr>
    </tbody>
  </table>
  {% endif %}

  <table class="table table-striped table-hover">
    <thead>
      <h2>Osallistujat</h2>
      <tr>
        <th>#</th>
        <th>Nimi</th>
        <th>Sähköposti</th>
        <th>Koulu ja koulutusohjelma</th>
        <th>Kokemus demoscenestä</th>
        <th>Vahvistettu</th>
        <th>Maksanut</th>
        <th>Poista</th>
        <th>Muistutus</th>
      </tr>
    </thead>
    <tbody>
      <form method="post">
      {% for s in signups %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{s.name}}</td> 
          <td>{{s.email}}</td>
          <td>{{s.school}}</td> 
          <td>{{s.experience}}</td>
          <td>{{s.confirmed_at}}</td>
          <td>
            {% if s.paid %}<i class="fa fa-check">
            {% else %}<input type="checkbox" name="selected_paid" value="{{s.id}}">
            {% endif %}
          </td>
          <td>
            {% if s.paid %}<i class="fa fa-times">
            {% else %}
            <input type="checkbox" name="selected_remove" value="{{s.id}}">
            {% endif %}
          </td>
          <td>
            {% if s.paid %}<i class="fa fa-times">
            {% else %}<input type="checkbox" name="selected_reminder" value="{{s.id}}">
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="submit" name="button" value="Maksanut"></td>
        <td><input type="submit" name="button" value="Poista"></td>
        <td><input type="submit" name="button" value="Muistuta"></td>
        </form>
    </tbody>
  </table>
  {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

  <table class="table table-striped table-hover">
    <thead>
      <h2>Piilotetut</h2>
      <tr>
        <th>#</th>
        <th>Nimi</th>
        <th>Sähköposti</th>
        <th>Koulu ja koulutusohjelma</th>
        <th>Kokemus demoscenestä</th>
        <th>Vahvistettu</th>
      </tr>
    </thead>
    <tbody>
      {% for hidden in hidden_participants %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{hidden.name}}</td>
          <td>{{hidden.email}}</td>
          <td>{{hidden.school}}</td>
          <td>{{hidden.experience}}</td>
          <td>{{hidden.confirmed_at}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
