{% extends 'base_with_nav_and_footer.html' %}
{% block short_header_content %}
<h1>Ilmoittaudu mukaan!</h1>
<p class="lead">Osallistuminen maksaa 5 euroa.</p>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Ilmoittaudu tapahtumaan</h2>
      <p>Oheisella lomakkeella voit ilmoittautua osallistujaksi tapahtumaan.</p>
      <p>Täytettyäsi lomakkeen lähetämme sinulle vahvistuksen sähköpostiisi. Tämän jälkeen tarkistamme käsin osallistumisesi tiedot (alkuvaiheessa ilmoittautumiselle on tiettyjä rajoituksia). Tietojen tarkistamisen jälkeen saat sähköpostiisi ohjeet osallistumismaksun (5e) suorittamista varten. Sinulla on kolme päivää aikaa suorittaa maksu – tämän jälkeen osallistumisesi poistetaan tietokannasta ja paikka vapautuu jollekin toiselle halukkaalle.</p>
      <p><b>Huomioithan, että tapahtuma on suunnattu kaikin puolin aloittelijoille</b> (esim. muutamia kursseja aiheesta käyneille) tai kokemattomille. Jos siis olet ennestäänkin koodannut enemmälti tietokonegrafiikkaa (vanha demoskeneläinen/graffakoodaaja työkseen), ilmoittaudu mielellään vasta kesäkuun puolella, jos paikkoja on vielä auki! (Vaihtoehtoisesti voi tulla tapahtumaan pitämään presiksen tai workshopin.)</p>
      <h2>Mitä osallistumismaksulla saa?</h2>
      <p>Hyvän tapahtumasisällön lisäksi osallistumismaksulla</p>
      <ul>
        <li>rahoitetaan osittain kilpailujen palkinnot</li>
        <li>tuetaan DOTin grafiikkakoodauskirjaston uudistamisprojektia.</li>
      </ul>
      <p>Tapahtumassa on myös tarjolla ilmaiset kahvit koko tapahtuman ajan!</p>
      <h2>Voiko osallistumisen perua maksun jälkeen?</h2>
      <p>Maksettua osallistumismaksua ei valitettavasti palauteta, sillä maksaminen tarkoittaa sitovaa ilmoittautumista. Voit kuitenkin yrittää houkutella jonkun toisen tilallesi!</p>
    </div>

    <div class="col-md-7">
      {% if request.path == "/dotsignup" %}
      <h2>DOTin jäsen, ilmoittaudu tapahtumaan!</h2>
      <p>Tämä ilmoittautumislomake on tarkoitettu vain DOTin jäsenille.</p>
      <p>Voit tarkistaa oletko jäsen <a href="http://dot.ayy.fi/register/" target="_blank">jäsenrekisteristämme</a> kohdasta "Vanha jäsen". Saat sähköpostiisi jäsentiedot. Mikäli et ole DOTin jäsen, voit maksaa jäsenmaksun ja silti saman tien osallistua tällä lomakkeella – tarkistamme ilmoittautumisia viiveellä.</p> 
      {% else %}
      <h2>Osallistuminen on nyt auki kaikille!</h2>
      <p>Koska tapahtumaa järjestää AYY:n alainen yhdistys, oli ilmoittautuminen aluksi auki vain Aallon opiskelijoille. Nyt ilmoittautuminen on kuitenkin auki kaikille halukkaille opiskelu- tai työpaikasta riippumatta. Jos siis olet kiinnostunut oppimaan uusia asioita, tule mukaan!</p>
      {% endif %}
      <p><b>Jos sinulla on 2-3 hengen ryhmä jonka kanssa haluat tehdä, ilmoittautukaa kaikki erikseen.</b> Ryhmätiedon tarvitsemme vasta paikan päällä. Ryhmää ei siis kuitenkaan välttämättä tarvitse, vaan osallistuminen onnistuu yhtä hyvin myös yksin!</p>


      {% if show_form %}
      <form class="form-horizontal" method="post" id="signup-form">
        {% macro form_input(input, help_text='') -%}
          <div class="form-group {% if input.errors %}has-error{% endif %}">
            {{ input.label(class='col-sm-3 control-label') }}
            <div class="col-sm-9">
              {{ input(class='form-control') }}
              <small>{{ help_text }}</small>
              {% if input.errors %}
                {% for error in input.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {%- endmacro %}

        {{ form.csrf_token }}

        {{ form_input(form.name) }}
        {{ form_input(form.email) }}
        {{ form_input(form.school, 'Tällä hetkellä käymäsi koulu ja koulutusohjelma. Jos et ole opiskelija, voit jättää tyhjäksi.') }}
        {{ form_input(form.experience, 'Kartoitamme osallistujien tieto- ja taitotasoa. Muokkaamme ohjelmaa vastausten perusteella.') }}

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Ilmoittaudu!</button>
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
