{% extends 'base_with_nav_and_footer.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="{{ url_for('static', filename='soon.jpg') }}" />
      <h1>Signup comming soon.</h1>
      <form class="form-horizontal" method="post">
        {% macro form_input(input) -%}
          <div class="form-group">
            {{ input.label(class='col-sm-2 control-label') }}
            <div class="col-sm-10">
              {{ input(class='form-control') }}
            </div>
          </div>
        {%- endmacro %}

        {{ form_input(form.name) }}
        {{ form_input(form.email) }}
        {{ form_input(form.school) }}
        {{ form_input(form.experience) }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Ilmoittaudu!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% for s in signups %}
	<p>{{s.name}}</p>
{% endfor %}

{% endblock %}
