{% extends 'base_with_nav_and_footer.html' %}
{% block short_header_content %}
<h1>Keitä tapahtuman takana?</h1>
<p class="lead">Tapahtuman järjestää AYY:n alaisuudessa toimivan DOT ry:n aktiivit.</p>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Järjestäjät</h2>
      <p>Järjestävät ovat Digitaalisen median ammattiainekerho DOT ry:n hallituksen jäseniä tai toimihenkilöitä.</p>
      <div class="row">
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/antti.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Antti Hirvonen</h4>
              <h5>Pääjärjestäjä</h5>
              <p>antti.hirvonen[at]gmail.com</p>
              <p>Kaikki yhteydenotot yhteystyökuvioihin liittyen miellään minulle ylläolevaan sähköpostiosoitteeseen.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Pauli Kemppinen</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Emil Lindfors</h4>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Paula Jukarainen</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Ville Tainio</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nils Haglund</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Konsta Hölttä</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 organizer">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{ url_for('static', filename='img/team/anonymous.png') }}" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Lauri Saikkonen</h4>
            </div>
          </div>
        </div>

      </div>
      <h2>Digitaalisen median ammattiainekerho DOT ry</h2>
      <p>DOT on Aalto-yliopiston ylioppilaskunnan (AYY) alaisuudessa toimiva yhdistys, joka yhdistää digitaalisesta mediasta kiinnostuneita ihmisiä.</p>
      <p>Digitaalisen median puolelta DOTin toiminnassa erityisenä keskipisteenä on tietokoneella tuotettu taide eri muodoissaan, johon lukeutuvat muun muassa demot ja pelit. Demoskene on hyvin näkyvästi läsnä DOTin toiminnassa. Demoja näytetään lähes kaikissa tapahtumissamme ainakin jossain muodossa, useat jäsenistä vierailevat vuosittain vähintään suomalaisilla demopartyilla, kuten Assemblyillä, ja jotkut osallistuvat myös kilpailuihin.

      </p><p>
      Jäsenistö koostuu pääosin opiskelijoista tai valmistuneista, joita kiinnostaa laaja-alaisesti esimerkiksi aiemmin mainittujen asioiden tuottaminen sekä kuluttaminen, ohjelmointi yleisesti, pelit, vanhat tietokoneet (C64/Amiga), kotikutoiset järjestelmät ja niin edelleen. Monet myös työskentelevät alan yrityksissä. Voisipa siis sanoa, että DOT on ammattiainekerho sellaisille, joita kiinnostaa erilaisten juttujen tekeminen tietokoneilla tai muilla vastaavilla laitteilla mennen "hiukan" pintaa syvemmälle kuin normaali käyttäjä.</p>
      <p>Voit tutustua lisää <a href="http://dot.ayy.fi" target="_blank">sivuillamme</a>!.</p>
    </div>
  </div>
</div>

{% endblock %}
