{% extends 'base_with_nav_and_footer.html' %}
{% block short_header_content %}
<h1>Kiitos ilmoittautumisesta!</h1>
<p class="lead">Sait juuri sähköpostia :-)</p>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Ilmoittautumisesi tiedot ovat nyt tarkastettavana.</h2>
      <p>Koska ilmoittautumisissa on joitain ehtoja (esimerkiksi AYY:n alaiset opiskelijat ovat etusijalla 27.5. asti), tarkastamme kaikkien osallistujien tiedot käsin. Uusia ilmoittautumisia tarkistetaan joka päivä. Saat sähköpostiisi tapahtuman maksutiedot, kun ilmoittautuminen on käsitelty!</p>
      <p><b>Halutessasi voit liittyä IRC-kanavalle #graffathon IRCnetissä. Tervetuloa tapahtumaan!</b></p>
    </div>
  </div>
</div>

{% endblock %}
